.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 3px 20px;
  list-style: none;
  border: 2px solid rgb(12, 143, 99);
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin-top: 0;

  @media (min-width: 850px) {
    flex-direction: row;
    margin-top: 10px;
  }
}

.item {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px 15px;
  display: flex;
}

.item:not(:last-child) {
  border-bottom: 2px solid rgb(54, 185, 93);

  @media (min-width: 850px) {
    border-right: 2px solid rgb(54, 185, 93);
    border-bottom: none;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.label {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
}

.sumWrapper {
  display: flex;
}

.sumItem {
  width: 50%;
  padding: 0 5px;
  display: flex;
}

.checkboxLabel {
  margin: 0 auto;
}

.input {
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  flex-grow: 1;
  width: 100px;
}

.checkbox {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

$size: 30px;

.checkboxIcon {
  display: block;
  position: relative;
  margin: 0 auto;
  height: $size;
  width: $size * 2;
  border-radius: $size / 2;
  background-color: #c6c6c6;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.checkbox:checked + .checkboxIcon {
  background-color: var(--primary);

  &::before {
    left: $size;
  }
}

.checkbox:focus + .checkboxIcon,
.checkbox + .checkboxIcon:hover {
  &::before {
    background: var(--light);
  }
}

.select {
  z-index: 100;
  color: black;
}
