.button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.svg {
  stroke-width: 2px;
  stroke: var(--counter);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  fill: none;
}

.button:hover .svg,
.button:focus .svg {
  stroke-width: 3px;
  transform: scale(1.3);
  stroke: var(--counter);
}

.active .svg {
  fill: var(--counter);
}
