.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
}

.item {
  width: 48%;
  display: flex;

  @media (min-width: 600px) {
    width: 31%;
  }

  @media (min-width: 800px) {
    width: 31%;
  }

  @media (min-width: 1000px) {
    width: 23%;
  }

  @media (min-width: 1200px) {
    width: 19%;
  }
}

.item > * {
  flex-grow: 1;
}

.showMore {
  margin: 50px auto;
  font-size: 2rem;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: var(--dark);
  border: none;
  outline: none;
  display: block;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.showMore:focus,
.showMore:hover {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.4);
}
